{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
                $(function() {
                        $( "#id_date_found" ).datepicker({
                                dateFormat: "yy-mm-dd",
                                defaultDate: "+1w",
                                changeMonth: true,
                                numberOfMonths: 1,
                                onClose: function( selectedDate ) {
                                        $( "#id_date_found" ).datepicker( "option", "minDate", selectedDate );
                                }
                        });
                });
        </script>
</head>
<body>


<form method="POST">
	{% csrf_token %}
	<table>
		{{ form.as_ul }}
	</table>
	<button type="submit">Submit</button>
</form>
</body>
</html>
